body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        min-height: 0; /* Убираем минимальную высоту */
   }

    .tab-content {
        overflow: visible; /* Убираем ограничение overflow */
    }

.table {
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0;
}
.table th, .table td {
    border: 1px solid #d1d1d1;
    padding: 15px;
}
.table thead th {
    background-color: #a63278;
    color: #ffffff;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #a63278;
    color: #ffffff;
}
.mt-3 a {
    margin-right: 10px;
}
caption {
    caption-side: top;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #a63278;
    padding: 10px;
}
button {
    display: block;
    width: 100%;
    background-color: #a63278;
    color: #fff7f7;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
a {
    text-decoration: none;
}
.nav-link{
    color: #a63278;
}
.error-message {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #a63278;
    margin-bottom: 20px;
}
.btn {
    display: block;
    width: 100%;
    background-color: #a63278;
    color: #fff7f7;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
.form-group {
      margin-bottom: 20px;
}